.form-control{
    height: 40px;
    /* width: 60px; */
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
}
.button-label-button-container{
    
    display: inline-block;
    display: flex;
    width: 130px;
}
.modal{
    height: 540px;
    width: 320px; 
}
.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}
.form-control{
color: #000000 !important
}
.form-label{
color: #ca0000 !important

}